.carousel {
    width: 90%;
    height: 100%;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
    border: 2px solid #ddd;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-image {
    min-width: 100%;
    object-fit: contain;
}

.carousel-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 40px;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 2px; 
}

.counter {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}


