body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 0;
}

#game {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

canvas {
    background-color: #fff;
    border: 1px solid #ccc;
    margin-top: 20px;
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#login, #ranking {
    margin-top: 20px;
}




/*         TABLERO */ 

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
}



.mp-cell {
    width: 100px;
    height: 100px;
    background-color: #f0f0f0;
    font-size: 2em;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    cursor: pointer;
    border: 1px solid #000;
}

#info { margin-top: 20px; font-size: 18px; }
.disabled { pointer-events: none; opacity: 0.6; }


.board-red {
  background-color: red;
}

.board-blue {
  background-color: blue;
}